.copyrightbox{
	padding:10px 0;
	background:#F8F8F8;
	border-top:1px solid #E5E5E5;
}
.copyright{
	width:1000px;
	margin:0 auto;
	font-size:14px;
}
.copyright p{
	line-height:30px;
}
.copyrightstr{
	border-top:1px solid #D0D0D0;
	text-align:center;
}